<div class="flex flex-col gap-2">
  <div class="flex h-auto">
    <input
      type="radio"
      id="mode-normal"
      name="mode"
      value="normal"
      class="hidden peer"
      checked
    />
    <label
      for="mode-normal"
      data-clipped
      class="relative items-center justify-between px-4 py-2 uppercase border cursor-pointer group border-destiny-light-grey peer-checked:border-white peer-checked:text-white hover:outline-2 outline-offset-2 outline-white min-w-3xs before:hidden peer-checked:before:block"
    >
      Normal
    </label>
  </div>

  <div class="flex h-auto">
    <input
      type="radio"
      id="mode-challenge"
      name="mode"
      value="challenge"
      class="hidden peer"
    />
    <label
      for="mode-challenge"
      data-clipped
      class="relative items-center justify-between px-4 py-2 uppercase border cursor-pointer group border-destiny-light-grey peer-checked:border-white peer-checked:text-white hover:outline-2 outline-offset-2 outline-white min-w-3xs before:hidden peer-checked:before:block"
    >
      Challenge
    </label>
  </div>
</div>
